-
  var cloudSystems = [
    {id: 1, name: 'Детальные отчеты', image: './assets/images/statistics-ru-rub.png', text: 'Программа учета для кафе Poster хранит данные в облаке и синхронизирует их в режиме реального времени. Вы можете проверять: оборот стола, средний чек, продажи и производительность по каждому сотруднику, самые популярные блюда, наиболее загруженные дни недели или часы, просто открыв админ-панель в браузере ноутбука.'},
    {id: 2, name: 'Инвентаризация', image: './assets/images/inventory-ru-rub.png', text: 'В Poster можно провести как полную, так и частичную инвентаризацию склада. Если вы хотите проверить остатки определенного продукта, просто перейдите на вкладку проверки запасов в админ-панели.'},
    {id: 3, name: 'Заработная плата персонала кафе', image: './assets/images/payroll-ru-rub.png', text: 'Следите за рабочим временем ваших сотрудников и рассчитывайте заработную плату в Poster. Просматривая затраты на персонал и сравнивая их с отчетами о продажах, вы сможете лучше анализировать денежные потоки внутри заведения и оптимизировать расходы вашего кафе.'},
    {id: 4, name: 'Приложение Poster Boss на смартфоне', image: './assets/images/iphone-ru-rub.png',  text: 'Дополнительное программное обеспечение для кафе, чтобы проверять отчеты о продажах и складских остатках прямо из приложения для смартфона. Можно также настроить уведомления о текущих транзакциях и изменениях в кассе вашего кафе.'},
    
  ]

mixin program(title)
  section(class="block program")
    div(class="block__inner program__inner")
      h2(class="program__title title")=title 
      div(class="program__body text") 
        block 
      
      ul(class="program__list")
        each item in cloudSystems 
          li(class="program__item")
            div(class="program__item-inner")
              div(class="program__icon")
                img(src=item.image, alt="")
              div(class="program__description")
                h4(class="program__name")=item.name
                div(class="program__text")
                  p=item.text
            
            