-
  var programList = [
    {id: 1, name: 'Batafsil hisobotlar', image: './assets/images/statistics-ru-rub.png', text: 'Poster kafe buxgalteriya dasturi bulutda ma\'lumotlarni saqlaydi va ularni real vaqtda sinxronizatsiya qiladi. Siz quyidagilarni tekshirishingiz mumkin: stol aylanmasi, o\'rtacha to\'lov, har bir xodim uchun sotish va ishlash ko\'rsatkichlari, eng mashhur ovqatlar, haftaning eng qizg\'in kunlari yoki soatlari, shunchaki noutbuk brauzerida administrator panelini ochish orqali.'},
    {id: 2, name: 'Inventarizatsiya', image: './assets/images/inventory-ru-rub.png', text: 'Posterda siz omborni to\'liq va qisman inventarizatsiyadan o\'tkazishingiz mumkin. Agar ma\'lum bir mahsulot zaxirasini tekshirmoqchi bo\'lsangiz, administrator panelidagi zaxiralarni tekshirish yorlig\'iga o\'ting.'},
    {id: 3, name: 'Smartfonda Poster Boss dasturi', image: './assets/images/iphone-ru-rub.png',  text: '      Sotuvlar va inventarizatsiya hisobotlarini to\'g\'ridan-to\'g\'ri smartfon ilovangizdan tekshirish uchun ixtiyoriy kafe dasturi. Siz shuningdek, davom etayotgan tranzaktsiyalar va kafe kassasida o\'zgarishlar haqida xabarlarni o\'rnatishingiz mumkin. '},
    {id: 4, name: 'Kafe xodimlarining ish haqi', image: './assets/images/payroll-ru-rub.png', text: "Xodimlaringizning ish vaqtini kuzatib boring va \"Poster\" da ish haqini hisoblang. Xodimlar xarajatlarini ko'rib chiqish va ularni savdo hisobotlari bilan taqqoslash orqali siz korxona ichidagi pul oqimlarini yaxshiroq tahlil qilishingiz va kafe xarajatlarini optimallashtirishingiz mumkin."},
  ]

mixin program(title)
  section(class="block program")
    div(class="block__inner program__inner")
      h2(class="program__title title")=title 
      div(class="program__body text") 
        block 
      
      ul(class="program__list")
        each item in programList 
          li(class="program__item")
            h4(class="program__name")=item.name

            div(class="program__icon")
              img(src=item.image, alt="")
              
            div(class="text program__text")
              p=item.text
        
            