.program
  padding: 50px 0
  background-color: #f7f7f7

  &__title
    margin-bottom: 20px
  
  &__body
    max-width: 700px
    padding: 0

  &__list
    display: flex
    flex-wrap: wrap

  &__item
    position: relative
    padding: 15px
    margin-bottom: 15px
    display: flex
    align-items: center
    flex-direction: column
    justify-content: start
    border: 1px solid rgba(0,0,0,0.09)
    border-radius: 3px
    background-color: #fff
    transition: all 0.5s ease

    @media (min-width: 1025px)
      width: calc(50% - 40px)

      &:not(:nth-child(even))
        margin-right: 15px
  
  &__icon
    display: inline-block
    margin-top: 15px
    height: 350px
    background-color: #fff
    border-radius: 6px
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 9%)
    overflow: hidden
    img
      max-width: 500px
      width: 100%

  &__name
    margin: 1.2rem 0
    font: 400 2rem/2.2rem $firaSansCondensed
    color: $colorGrey
    letter-spacing: 0.02em

  &__text
    padding-top: 15px

    

  .slick-arrow
    position: absolute
    top: 50%
    margin-top: -20px
    font-size: 0
    width: 40px
    height: 40px
    border: none
    border-radius: 50%
    cursor: pointer
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: 25px 25px
    background-color: #eee
    z-index: 1

  .slick-prev
    left: 0
    background-image: url('../images/left-arrow.svg')

  .slick-next
    right: 0
    background-image: url('../images/right-arrow.svg')

  .slick-dots
    margin-top: 25px
    width: 100%
    display: flex
    justify-content: center
    li
      margin: 0 5px
    button
      width: 15px
      height: 15px
      background: #eee
      border-radius: 50%
      border: none
      font-size: 0
      line-height: 0
      cursor: pointer

    .slick-active
      button
        background: #4a90e2