.cloud-system
  padding: 50px 0 0

  &__inner
    position: relative
    //max-width: 1360px
    //margin: 0 auto
    padding: 50px 0
    background: #eee url('../images/about-bg.jpg') no-repeat 50% 50%/cover

    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: rgba(0,0,0,0.8)

  &__container
    display: flex
    padding-bottom: 50px
    @media (max-width: 767px)
      &
        flex-wrap: wrap

  &__title
    margin-bottom: 20px
    &--middle
      position: relative
      color: $colorWhite

  &__left
    padding-top: 30px
    flex-basis: fit-content
    @media (min-width: 768px)
      &
        width: 40%

    @media (max-width: 767px)
      &
        width: 100%

  &__right
    img
      max-width: 500px
      
    @media (min-width: 768px)
      &
        width: 60%

    @media (max-width: 767px)
      &
        width: 100%

  
  &__body
    padding: 0

  &__list
    display: flex
    flex-wrap: wrap

  &__item
    position: relative
    display: flex
    align-items: center
    padding: 15px 0
    margin-bottom: 15px
    border-bottom: 1px solid rgba(255,255,255, .2)
    transition: border linear .2s

    @media (min-width: 768px)
      &
        width: calc(50% - 15px)
      &:not(:nth-child(even))
        margin-right: 30px

    @media (max-width: 767px)
      &
        width: calc(100%)

    &:hover
      border-color: $colorWhite

  &__description
    padding-left: 15px

  &__icon
    padding-top: 3rem
    img
      max-width: 60px
      width: 60px

  &__name
    margin: 1.2rem 0
    font: 400 2rem/2.2rem $firaSansCondensed
    color: $colorWhite
    letter-spacing: 0.02em

  &__text
    color: $colorWhite