-
  var cloudSystems = [
    {id: 1, name: 'Анализируйте статистику продаж', image: './assets/images/statistic.svg', text: 'Когда и что продается лучше, в какое время больше гостей и где больше всего списаний. Все данные доступны в любое время, нужно лишь открыть админ-панель Poster в браузере ноутбука.'},
    {id: 2, name: 'Контролируйте расходы и фудкост',  image: './assets/images/wallet.svg', text: 'Программа для кафе все считает за вас. Вам остается только просматривать как изменяются ваши расходы с каждой новой поставкой, корректировать рецепты и цены, чтобы ваше меню оставалось выгодным.'},
    {id: 3, name: 'Получайте максимум эффективности', image: './assets/images/presentation.svg',  text: 'Автоматизация кафе на планшете — это мобильные официанты и стабильная работа кухни во время загрузки в час-пик.'},
    {id: 4, name: 'Быстро обучайте персонал',  image: './assets/images/profile.svg', text: 'Ваш новый официант сможет принять свой первый заказ, назначить ему на стол и провести оплату уже через несколько минут обучения.'},
  ]

mixin cloud-system(title)
  section(class="cloud-system")
    div(class="cloud-system__inner")
      div(class="cloud-system__container")
        div(class="cloud-system__left")
          h2(class="cloud-system__title title")=title 
          div(class="cloud-system__body text") 
            block 

        div(class="cloud-system__right")
          img(src="./assets/images/manage.png", alt="")
      
      h2(class="cloud-system__title title--middle") Облачная система автоматизации кафе, которая помогает вам быть более продуктивным:
      
      ul(class="cloud-system__list")
        each item in cloudSystems 
          li(class="cloud-system__item")
            div(class="cloud-system__description")
              h4(class="cloud-system__name")=item.name
              div(class="cloud-system__text")
                p=item.text
            div(class="cloud-system__icon")
              img(src=item.image, width="100px", alt="")
            