@import '../../../assets/sass/__variables'
.address
  position: relative
  font: 400 1.6rem/160.7% $firaSansCondensed
  letter-spacing: 0.03em
  color: $colorGrey

  &--header
    padding-top: 2px

  &--footer
    padding-top: 26px