.work-time
  position: relative

  &__title
    padding-bottom: 10px
    font: 300 1.4rem/2rem $firaSansCondensed
    color: $colorWhite

  &__item
    font: 400 1.6rem/160.7% $firaSansCondensed
    letter-spacing: 0.03em
    color: $colorWhite