mixin work-time(title)
  div(class="work-time")
    div(class="work-time")
      div(class="work-time__title")=title
      ul(class="work-time__list")
        li(class="work-time__item") 10:00 dan 18:30 gacha
        li(class="work-time__item") Sha-Yak - dam olish kunlari