mixin about(title)
  section(class="about")
    div(class="about__title about__title--big title")  Ваш бизнес + Poster = &#129309;
    h2(class="about__title title") Управляйте своим кафе вместе с Poster
    
    ul(class="about__list")
      li(class="about__item")
        h2(class="about__name") Уменьшайте время приема заказа
        p Официант принимает заказ на планшете прямо у столика или на баре и мгновенно пересылает его на кухню.
      
      li(class="about__item")
        h2(class="about__name") Не переживайте, если нет интернета 
        p Все данные о продажах сохраняются и синхронизируются как только появится соединение — работа в заведении не останавливается.
      
      li(class="about__item")
        h2(class="about__name") Проводите детальный складской учет
        p Помимо контроля поставок и списаний, вы сможете импортировать/экспортировать накладные и настраивать напоминания о закупках.

      li(class="about__item")
        h2(class="about__name") Принимайте любые оплаты
        p Наличные, банковская карта, частичная оплата бонусами или разделение чека — не вопрос!