mixin about(title)
  section(class="about")
    div(class="about__title about__title--big title")  Ваш бизнес + Poster = &#129309;
    h2(class="about__title title") Kafeingizni Poster bilan boshqaring
    
    div(class="about__image")
      img(src="./assets/images/devices-ru-rub.png", alt="")

    div(class="about__body")
      p Система учета кафе Poster — это полноценное решения для бизнеса, к ней подключается любое дополнительное оборудование: весы, денежный ящик, сканер штрих-кодов, банковский терминал, принтер «бегунков» на кухню или экран с заказами и многое другое.

    ul(class="about__list")
      li(class="about__item")
        h2(class="about__name") Уменьшайте время приема заказа
        div(class="about__text") 
          p Официант принимает заказ на планшете прямо у столика или на баре и мгновенно пересылает его на кухню.
      
      li(class="about__item")
        h2(class="about__name") Не переживайте, если нет интернета 
        div(class="about__text")
          p Все данные о продажах сохраняются и синхронизируются как только появится соединение — работа в заведении не останавливается.
      
      li(class="about__item")
        h2(class="about__name") Проводите детальный складской учет
        div(class="about__text")
          p Помимо контроля поставок и списаний, вы сможете импортировать/экспортировать накладные и настраивать напоминания о закупках.

      li(class="about__item")
        h2(class="about__name") Принимайте любые оплаты
        div(class="about__text")
          p Наличные, банковская карта, частичная оплата бонусами или разделение чека — не вопрос!