@import '../../../assets/sass/__variables'
.about
  padding-bottom: 50px

  &__inner
    padding: 50px 0 80px
    position: relative

  &__container
    display: flex
    justify-content: space-between

  &__image, &__body
    width: 50%

  &__image
    padding-top: 30px
    
  &__body
    padding-top: 15px
    padding-right: 30px

  &__content
    position: relative
    padding: 100px 0 83px
    background: #eee url('../images/about-bg.jpg') no-repeat 50% 50%/100%

    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: rgba(0,0,0,0.8)

  &__title
    text-align: center

    &--big
      margin-bottom: -34px
      font: 600 5.5rem/220% $firaSansCondensed
      letter-spacing: 0.05em
      white-space: nowrap
      color: rgba(213, 213, 213, 0.2)
  
  &__title-list
    position: relative
    color: #fff
    margin-bottom: 1.5rem
    z-index: 1

  &__list
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    z-index: 1

  &__item
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 15px
    margin-right: 15px
    margin-bottom: 15px
    width: calc( 50% - 45px )
    color: #fff
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1)
    
    &:not(:nth-child(2n))
      margin-right: 0

  &__name
    position: relative
    font: 500 2rem/2.5rem $Montserrat
    margin: 0

  &__icon
    margin-right: 15px
    text-align: center
  
  &__icon-image
    width: 100px
    margin: 0 auto

  &__text
    font: 300 1.7rem/2rem $firaSansCondensed
    letter-spacing: 0.02em