mixin btn(href, title, fancybox)
  if fancybox
    a(href=href, class!=attributes.class, target="_blank" data-fancybox)
      span=title
  else 
    a(href=href, class!=attributes.class, target="_blank")
      span=title
  