extends layouts/layout.pug
block content 
  +about('Что такое Poster?')
  +cloud-system('Система автоматизации кафе со всей информацией для управляющих')
    p Найти идеальную систему, в которой будут все нужные именно вам функции очень сложно. Мы соединили все самые полезные и популярные возможности программ автоматизации с учетом потребностей вашего бизнеса. Помимо этого мы разработали наше решение, чтобы вы могли максимально удобно и быстро оптимизировать процесс управления.

  +question('Остались вопросы?')
  +solution('Kompleks yechim - kafelar uchun sotishni hisobga olish tizimi:')
  +partners('Наши клиенты', "['src01','src02','src03']")