extends layouts/layout.pug
block content 
  +about('ABOUT US')
  //- +partners('OUR PARTNERS', "['src01','src02','src03']")
  +cloud-system('Bulutga asoslangan kafelarni avtomatlashtirish tizimi sizga yanada samarali ishlashga yordam beradi')
    p Найти идеальную систему, в которой будут все нужные именно вам функции очень сложно. Мы соединили все самые полезные и популярные возможности программ автоматизации с учетом потребностей вашего бизнеса. Помимо этого мы разработали наше решение, чтобы вы могли максимально удобно и быстро оптимизировать процесс управления.

  +question('Остались вопросы?')
  
  +solution('Kompleks yechim - kafelar uchun sotishni hisobga olish tizimi:')