extends layouts/layout.pug
block content 
  +about("O'zbekistondagi Poster haqida")

  +cloud-system('Bulutga asoslangan kafelarni avtomatlashtirish tizimi sizga yanada samarali ishlashga yordam beradi')
    p Sizga kerak bo'lgan barcha funktsiyalarga ega bo'lgan mukammal tizimni topish juda qiyin. Biz sizning biznes ehtiyojlaringizga mos keladigan barcha eng foydali va mashhur avtomatlashtirish dasturiy ta'minotlarini birlashtirdik. Bundan tashqari, biz boshqarish jarayonini iloji boricha qulay va tezroq optimallashtirishingiz uchun biz o'z echimimizni ishlab chiqdik.
  
  +program('Dunyoning istalgan nuqtasidan boshqarish huquqiga ega kafe uchun dastur')
    p O'zingizning hisobingizga istalgan brauzerdan, hatto muassasa tashqarisida bo'lsangiz ham kirishingiz mumkin: statistikani ko'rish, menyu yoki narxlarga o'zgartirish kiritish va h.k.
  
  +question('Savollar bormi?')
    p Bizning O'zbekistondagi mutaxassisimizga savol berin va bir kun ichida siz bilan bog'lanamiz.

  +solution('Kompleks yechim - kafelar uchun sotishni hisobga olish tizimi:')
  +partners('Bizning mijozlarimiz', "['src01','src02','src03']")