include components/logo/logo.pug
include components/menu/menu.pug
include components/lang/lang.pug
include components/phone/phone.pug
include components/address/address.pug
include components/partners/partners.pug
include components/about/about.pug