include components/logo/logo.pug
include components/btn/btn.pug
include components/menu/menu.pug
include components/lang/lang.pug
include components/phone/phone.pug
include components/address/address.pug
include components/partners/partners.pug
include components/about/about.pug
include components/question/question.pug
include components/all-solution/all-solution.pug
include components/cloud-system/cloud-system.pug
include components/program/program.pug
include components/work-time/work-time.pug