mixin question(title)
  section(class="block question")
    div(class="block__inner question__inner")
      div(class="question__left")
        div(class="question__title")=title 
        div(class="text question__text")
          block
      div(class="question__right")
        +btn("https://telegram.im/@Poster_uzb", "Murojaat qoldirish")(class="question__btn btn btn--telegram")

