.question
  padding: 50px 0
  background: radial-gradient(circle at 3% -6%,rgba(255,218,161,.59),hsla(0,0%,100%,0) 68%),linear-gradient(180deg,#e9ffe2,#e9ffe2)

  &__inner
    display: flex
    flex-wrap: wrap
    
    @media (min-width: 768px)
      &
        justify-content: space-between

    @media (max-width: 767px)
      &
        justify-content: center

  &__left, &__right
    @media (min-width: 768px)
      &
        width: 50%
  
  &__right
    display: flex
    justify-content: flex-end
    align-self: center

  &__title
    margin-bottom: 20px
    font: 500 3rem/4rem $firaSansCondensed
    color: $colorGrey
    letter-spacing: 0.02em

  &__text
    max-width: 480px
    //font: 300 2rem/2.5rem $firaSansCondensed
    //color: $colorGrey
    //letter-spacing: 0.02em