-
  var partnersItem = [
    {id: 1, src:'./assets/images/angels-pizza-logo.jpg'},
    {id: 2, src:'./assets/images/black-bear-kofi-logo.png'},
    {id: 3, src:'./assets/images/sushi-xl.jpg'},
    {id: 4, src:'./assets/images/ice-and-gold.png'},
    {id: 5, src:'./assets/images/tims-coffee.png'},
    {id: 6, src:'./assets/images/dolce-italia.png'},
    {id: 7, src:'./assets/images/stuzzico.png'},
    {id: 8, src:'./assets/images/grand-somsa.jpg'},
    {id: 9, src:'./assets/images/coffewine.jpg'},
    {id: 10, src:'./assets/images/socials-cafe.png'},
    {id: 11, src:'./assets/images/arrows-sparrows.png'},
    {id: 12, src:'./assets/images/caffelito.jpg'},
    {id: 13, src:'./assets/images/a-cafe.png'},
    {id: 14, src:'./assets/images/krusty-krab.jpeg'},
    {id: 15, src:'./assets/images/teppanyaki.png'},
    {id: 16, src:'./assets/images/cozy-grill-bar.jpeg'},
    {id: 17, src:'./assets/images/sushi-time.png'},
  ]

mixin partners(blockTitle)
  section(class="block partners")
    div(class="block__inner partners__inner")
      h2(class="title partners__title")=blockTitle
      if partnersItem
        ul(class="partners__list")
          each item in partnersItem
            li(class="partners__item")
              img(src=item.src, class="partners__image", alt="")