-
  var footerItemsMenu = [
    {id: 0, name: 'Home', url: '#top'},
    {id: 1, name: 'About', url: '#about'},
    {id: 2, name: 'Services', url: '#services'},
    {id: 3, name: 'Resources', url: '#resources'},
    {id: 4, name: 'Contact us', url: '#contact-us'}
  ]

footer(class="block footer")
  div(class="block__inner footer__inner") 
    div(class="footer__logo")
      img(src="./assets/images/logo-w.png", alt="Poster - Kafe avtomatizatsiyasi")
      div(class="footer__text") Kafe uchun onlayn to'lov: Android planshet yoki iPad uchun dastur va oyiga atigi 19 dollar.
    //- +menu('footer-menu', footerItemsMenu)

    //- nav
    //-   ul(class="footer__menu menu")
    //-     each item in footerMenuItem
    //-       li(class="menu__item")
    //-         a(class="menu__link" href=item.url)=item.name
    
    +work-time("Ish tartibi:", 'footer')
    +phone('footer')
    +address("16 Afrosiyob ko'chasi, Tashkent 100015", 'footer')