@import '../../../assets/sass/__variables'
.phone
  position: relative
  display: flex
  
  &__icon
    max-width: 20px
    margin-right: 13px

  &__text
    font: 400 2rem/2.5rem $firaSansCondensed
    color: $colorGrey
    letter-spacing: 0.02em
    text-transform: uppercase