-
  var phones = [
    {id: 1, phone: '+(99890) 008 01 13',},
    {id: 2, phone: '+(99890) 008 01 14',},
    {id: 3, phone: '+(99890) 008 01 15',},
  ]

mixin phone(phoneClass, title)
  div(class="phone phone--" + phoneClass)
    if title
      div(class="phone__title phone__title--" + phoneClass )=title
    ul(class="phone__list phone__list--" + phoneClass)
      each item in phones 
        li(class="phone__item phone__item--" + phoneClass + "")
          a(href="tel:" + item.phone, class="phone__text phone__text--" + phoneClass)=item.phone