include ../mixins
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Автоматизация кафе - Poster
    link(rel='apple-touch-icon' sizes='180x180' href='./assets/images/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./assets/images/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./assets/images/favicon-16x16.png')
    link(rel='icon' type='image/x-icon' href='./assets/images/favicon.ico')
    link(rel='icon' type='image/png' href='./assets/images/favicon.ico')
    link(rel="stylesheet", href="./assets/css/build.css")
  body 

    div(class="wrapper")
      include ../partials/header/header.pug
      main(class="content")
        block content
      include ../partials/footer.pug
      <script type="text/javascript">(function() {var script=document.createElement("script");script.type="text/javascript";script.async =true;script.src="//telegramim.ru/widget-button/index.php?id=@tash_K_e_n_T";document.getElementsByTagName("head")[0].appendChild(script);})();</script>
      <a href="https://telegram.im/@tash_K_e_n_T" target="_blank" class="telegramim_button telegramim_shadow telegramim_pulse" style="font-size:26px;width:40px;height:40px;line-height:40px;background:#27A5E7;box-shadow:1px 1px 5px #27A5E7;color:#FFFFFF;border-radius:50%;" title=""><i></i></a>

  script(src="./assets/js/build.js")