include ../mixins
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Главная страница
    link(rel='icon' type='image/x-icon' href='https://example.com/favicon.ico')
    link(rel='icon' type='image/png' href='https://example.com/favicon.png')
    link(rel="stylesheet", href="./assets/css/build.css")
  body 

    div(class="wrapper")
      include ../partials/header/header.pug
      main(class="content")
        block content
      include ../partials/footer.pug

  script(src="./assets/js/build.js")